/* Add your custom CSS here */

/* Dont' forget to link this file to your HTML in the <head> */

.container {
    border:2px solid blue;
}

body {
    margin:0;
}

/* general syles */

.center-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}
h1 {
    font-size: 3rem;
    text-align: center;
}
/* header styling */
.container-header {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.nav-list {
    list-style: none;
    padding:0;
    display:flex;
    flex-direction: column;
    align-items: center;
}

/*larger screens nav styling */
@media (min-width: 576px) {
    .nav-list {
        flex-direction: row;
    }
}

.nav-list-items {
    margin:0 1em;
    padding:0.5em;
}

.nav-links {
    text-decoration:none;
    font-size: 1.5rem;
    color:#000;
    font-weight: 800;
    margin-top:1em;
    padding:1em;
}

.logo {
    width:80px;
    height: 80px;
}

.img-full-width {
    width:100%;
}

.project {
    margin-bottom:15px;
    padding-bottom:15px;
}




/* footer styling */
footer {
    width: 100%;
    background-color: cadetblue;
    height: 100px;
    text-align: center;
}

.footer-info {
    padding:2em;
}

/* styling contact form */
.form-container {
  background-color: tomato;
  padding:2em;
}

.form-contact-list {
    display: flex;
    flex-direction: column;
}

/*larger screens nav styling */
@media (min-width: 576px) {
    .form-contact-list {
        flex-direction: row;
    }   
    
    .form-contact-list-items {
        margin-right:2em;
    }
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;

}

span {
    color:red;
}

input[type=text]{
  /*width: 70%; */
  padding: 0.5em;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;

}


.msg-text {
    height: 100px;
   /* width: 70%; */
    padding: 0.5em;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

.submit-button {
    background-color: #000;
    color:white;
    border:none;
    width: 50%;
    padding: 0.5em;
    /*margin: 5px 0 22px 0;*/
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    
}

/*larger screens nav styling */
@media (min-width: 576px) {
    .submit-button {
        width:20%;
    }    
}

.submit-button:hover {
    background-color:whitesmoke;
    border:1px solid #000;
    color:#000;
}

.icon {
    padding:0.5em;
    width: 40px;
    height: 40px;
}

.icon-list {
    text-align: center;
}